h1
{
    text-align: center;
    text-decoration:underline ;
    text-transform:uppercase ;

}
#nav,ul,a
{
    text-align:center;
    font-size:25px;
    padding: 4px;
    /* word-spacing: 10px; */
    text-transform: capitalize;
    color:rgb(95, 95, 10);
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    


}
h3
{
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 40px;
    padding-left: 15px;
    color: darkred;
}
#page,p
{
    font-size: 19px;
    line-height: 28px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-family:sans;
    padding-left: 40px;
    /* margin-top: 250px; */

}
#image,img
{
    float: right;
    padding-right:25px;
    height: 40%;
    width: 38%;
    
}
#header
{
    text-align:left;
    font-size: 20px;
    padding: 30px;
    color:black;
    line-height: 30px;
    margin-top: 220px;
    word-spacing: 8px;
    padding-left: 15px;
}
h4
{
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 15px;
    color: darkred;
}
body
{
    background-color:white;
}
h5

{
    text-transform: capitalize;
    padding-left: 19px;
    color: darkred;
    text-decoration: underline;
    margin-top: 3%;
    font-size: 25px;
    font-weight: bold;



}
#boss
{
    margin-bottom: 50px;
}
#footer,img
{ 
    height: 90%;
    width: 80%;

}
#about,p
{
    line-height:35px;
    word-spacing:10px;
    font-size: 18px;
    /* text-decoration: underline; */
    text-transform: capitalize;
}
#hello
{
    float: left;
    height: 45%;
    width: 40%;
    border-radius: 10px;
    color: chocolate;
    

}
#more
{
    font-size: 25px;
    text-transform: capitalize;
    margin-left: 35%;
    margin-top: 25%;
    text-decoration:underline;
    color:blue;
    /* border:  solid black; */

}





